{% extends 'template.html' %}
{% load static %}
{% block title %}File Upload{% endblock %}
{% block content %}
<link href="{% static 'code_scan/file_upload.css' %}" rel="stylesheet" type="text/css" />
<div class="col-md-12">
    <form enctype="multipart/form-data" action="{% url 'index' %}" method="post" id="scan-file-form" >
    {% csrf_token %}
        <div class="form-group text-center">
            <div class="upload-btn-wrapper col-md-12">
                <span>Upload Scan Files</span>
              <input type="file" name="scan_files" id="id_scan_files" multiple />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group text-left">
            <div id="selectedFiles"></div>
        </div>
        <div class="form-group">
            <progress id="progress-bar" value="0" max="100" style="display:none; margin-bottom: 1em;"></progress>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-outline-primary col-md-12" value="Submit" />
        </div>
    </form>
</div>

<script src="{% static "code_scan/file_list.js" %}"></script>
{% endblock %}